<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <canvas #pdfCanvas (mousedown)="startDrawing($event)" (mousemove)="draw($event)" (mouseup)="endDrawing()" (mouseleave)="mouseLeaveCheck()"></canvas>
      </div>
      <div class="col-md-4">
        <input type="color" [(ngModel)]="selectedColor">
        <input type="number"[(ngModel)]="selectedWidth" step="0.1">
        <div class="btn-group mb-3">
          <button class="btn btn-secondary" (click)="goToPreviousPage()">Previous Page</button>
          <button class="btn btn-secondary" (click)="goToNextPage()">Next Page</button>
        </div>
        <button class="btn btn-danger" (click)="undoLastAction()">Undo</button>
        <button class="btn btn-success" (click)="downloadPDF()">Download PDF</button>
      </div>
    </div>
  </div>